# OcIrcBridge Configuration File
# Developed by Jacob Kauffmann at Nerd on the Street Productions, LLC

# Place options directly after = sign with no spaces in between.

# This is the nick that the IRC bot will use.
ircBotName=ComposrChatBridge

# This is the NickServ password that the IRC bot will identify with. (Optional.)
ircBotPassword=

# This is the server that the IRC bot will connect to.
ircServer=

# This is the port number that the IRC server is listening on.
ircPort=

# This is the channel that the IRC bot will connect to (WITH a # character.)
ircChannel=#

# This is the domain name of your Composr website. (Like "www.example.com" // no protocol or subdirectories.)
composrWebsite=

# This is the Composr username for your chat bot to use.
composrWebUsername=IrcChatBridge

# This is the Composr password for your chat bot to use.
composrWebPassword=

# This is the numeric member ID of the Composr user that your chat bot is using.
composrWebId=

# This is your MySQL/MariaDB server domain name or IP address. (Probably the same as composrWebsite.)
composrSqlServer=

# This is the bot's username to log into your MySQL/MariaDB server.
composrSqlUsername=ComposrChatBridge

# This is the bot's password to log into your MySQL/MariaDB server.
composrSqlPassword=

# This is the name of the SQL table containing your chat messages.
composrChatTable=cms_chat_messages

# This is the room ID of your Composr chatroom.
composrRoomId=1